{% extends 'base.html.twig' %}

{% block title %} modification mon mot de passe{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mt-4">Modifier mon mot de passe</h1>

        {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">{{ message }}</div>
    {% endfor %}





    {{ form(form) }}





    </div>

{% endblock %}